.header-bottom .navbar-light .navbar-nav a.nav-link{
    color: white;
}
.header-bottom.active .navbar-light .navbar-nav a.nav-link{
    color: #33406a;
}
.header-section.inner-header .header-top ul li i, .header-section.inner-header .header-top ul li .select-bar .current, .header-section.inner-header .header-top ul li a {
   color: white;
}
p {
    margin-top: 0px;
}

.dashboard-menu > li > a::before{
   background: #bccaea;
   color: #000;
}
.dashboard-menu > li.open > a::before{
   background: #4a61ff;
}